#introSection, #aboutSection{
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
}
#introSection {
    text-transform: uppercase;
    color: #0b0b0a;
}
.boldHeader{ /* Timonium Bold */
    font-weight: 700;
}
.boldbody{ /* AWConqueror Std Didot Bold */
    font-family: aw-conqueror-didot, serif;
    font-weight: 700;
}
.boldHeaderItalic{ /* Timonium Bold Italic */
    font-style: italic;
}
.bodyText, p { /* AWConqueror Std Didot */
    font-family: aw-conqueror-didot,serif;
    font-weight: 400;
    font-style: normal;
}
h1{
  /* Timonium Light */
    font-family: timonium, sans-serif;
    font-weight: 300;
    font-style: normal;
}
.fullName {
    position: absolute;
    width: 385px;
    height: 241px;
    top: 9%;
    
    font-size: 15vw;
    line-height: 8%;
    
    align-items: center;
    letter-spacing: -0.015em;

}
#home_pic {
    position: absolute;
    width: 33vw;
    height: 45vw;
    left: 59.5%;
    top: 20%;
    background-color: #878741;
    z-index: -1;
}

#twentyText{
position: absolute;
width: 30px;
height: 20px;
left: 19vw;
top: -6vw;

font-family: AWConqueror Std Didot;
font-size: 5px;
line-height: 10px;

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;
color: #1c1c21;
}

/* DEVELOPER, DESIGNER, ARTIST. */
.ddaText{
    position: absolute;
    color: #F3EFE2;
    text-transform: uppercase;
    font-size: 5vw;

    width: 75%;
    height: 34%;
    left: 40%;
    top: 110vh;
    line-height: 140px;
    
    display: flex;
    letter-spacing: -0.015em;
}

#aboutSection{
  height:100vh; 
  background-color: #878741;
  font-size:36px
}

.parallax {
  /* The image used background: #F3EFE2; */
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}