/* Menu Rows */
.menuRow{
    height: 50vh;
    width: 100vw;
    flex-direction: row;
    box-sizing: border-box;
}

/* Menu Cols */
.imgCol, .weekCol, .arrowCol {
    padding-right: 0;
    padding-left: 0;
}
.imgCol{
    padding-top: 8vh;
}
.weekCol, .arrowCol{
    text-align: center;
}
.weekInfoCol{
    background-color: coral;
    text-align: right;
}

/* Text styles */
.weekName{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.5em;
}
.weekNum {
    font-size: 7.5em;
    margin-bottom: 0;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

/* Week Content */
.imgBox{
    width: 80%;
    height: 34vh;
    background-color:#3f4d25;
    padding-right: 0; 
}