/* All the following CSS is for the Project Menu */

/* Menu */
.weeks{
    background-color: #f3efe2;
    padding-top: 6vh;
}

/* Text styles */
.weekName{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.4em;
    padding-top: 4vh;

}
.weekNum {
    font-size: 7.5em;
    margin-bottom: 0;
    padding-top: 4.5vh;
}
.finalProjectContent{
    text-align: center;
}
.finalProjectText{
    font-size: 9em;
    text-transform: uppercase;
}
.finalProjectDesp{
    font-size: 1.5em;
}

/* Rows */
.menuRow{
    height: 30vh;
    width: 100vw;
    flex-direction: row;
    box-sizing: border-box;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.finalProjectRow{
    background-color: coral;
    height: 64vh;
    width: 100vw;
    flex-direction: row;
    box-sizing: border-box;
    padding-top: 12vh;
    padding-right: 10vw;
    padding-left: 10vw;
}

/* Cols */
.imgCol, .weekCol, .arrowCol {
    padding-right: 0;
    padding-left: 0;
}
.weekCol, .arrowCol{
    text-align: center;
}
.weekInfoCol{
    text-align: right;
}

/* Week Content */
.imgBox{
    width: 100%;
    height: 25vh;
    background-color:#3f4d25;
    padding-right: 0; 
}

/* Week One Specfic Content*/
.weekNameandweekNum, .weekIdentity, .weekHookText{
    text-align: center;
    letter-spacing: -0.015em;
    align-items: flex-end;
}
.weekNameandweekNum, .weekIdentity{
    color: #F3EFE2;
    font-size: 4em;
}
.weekNameandweekNum{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 5em;
}
.weekHookText{
    font-size: 3.1em;
    color: #1C1C21;
}