.menuRow{
    height: 50vh;
    background-color: #f3efe2;
    width: 100vw;
}
.weekText{
    text-align: right;
    overflow: hidden; 
}

.weekNum  {
    top:25%;
    bottom: 25%;
    position:absolute;
    margin:auto;
    line-height: 13vh;
    font-size: 13em;
    text-align: center;
    vertical-align: middle;
    width:auto;
}

.imgHolder{
    width: 80px;
    height: 100px;
    color:blue;
}

Col{
    box-sizing: content-box;
}